Source: opm-material
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: build-essential, debhelper (>= 9),
               libboost-system-dev, libboost-date-time-dev, libboost-test-dev,
               gfortran, pkg-config, libopm-common-dev,
               libdune-common-dev, libdune-istl-dev, cmake, bc,
               git, zlib1g-dev, libtool, doxygen,
               texlive-latex-extra, texlive-latex-recommended, ghostscript,
               mpi-default-dev, mpi-default-bin, libpython3-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://opm-project.org
Vcs-Git: git://github.com/OPM/opm-material.git
Vcs-Browser: https://github.com/OPM/opm-material

Package: libopm-material1-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: libdune-istl-dev, libdune-common-dev
Provides: libopm-material-dev
Suggests: libopm-material1-doc
Description: Material properties framework for porous media -- development files
 The Open Porous Media (OPM) software suite provides libraries and
 tools for modeling and simulation of porous media processes, especially
 for simulating CO2 sequestration and improved and enhanced oil recovery
 .
 This header-only library contains the generic code for calculating material
 properties used when simulating porous media flow. It includes utilities
 for calculating relative-permeability/capillary pressure
 laws, thermodynamic relations, flash solvers, empirical heat
 conduction laws, et cetera.
 .
 This package contains the development files (headers) needed.


Package: libopm-material1-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Provides: libopm-material-doc
Description: Material properties framework for porous media -- development files
 The Open Porous Media (OPM) software suite provides libraries and
 tools for modeling and simulation of porous media processes, especially
 for simulating CO2 sequestration and improved and enhanced oil recovery
 .
 This header-only library contains the generic code for calculating material
 properties used when simulating porous media flow. It includes utilities
 for calculating relative-permeability/capillary pressure
 laws, thermodynamic relations, flash solvers, empirical heat
 conduction laws, et cetera.
 .
 This package contains the documentation of the source code.
